
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 700;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* global css */
a {
    text-decoration: none;
    color: hsl(0, 0%, 100%) !important;
}

/* main css */

#main {
    width: 100%;
    height: 100vh;
    background: hsl(217, 28%, 15%);
}

nav {
    display: flex;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 40px;
    padding: 0 15px;
    color:hsl(0, 0%, 100%);
    letter-spacing: 0.063rem;
    margin: 3px;
    height: 40px;
}

nav ul li a:hover {
    background-color: hsl(75, 198, 205, .2);
    box-shadow: 5px 10px 30px rgba(75, 198, 196, .3);
    transition: all ease .3s;
}

nav .menu-btn {
    display: none;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 85px 10px;
}

.intro-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.intro-text h2,
.offers-card h2,
.productivity-container h2,
.email-container h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.06rem;
    margin: 0;
    padding: 12px 0 10px 0;
}

.intro-text p {
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 20px;
    font-size: 0.75rem;
    letter-spacing: 0.063rem;
}
.offers-card p,
.testimonial-container p,
.email-container p {
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.063rem;
    line-height: 20px;
    font-size: 0.75rem;
    text-align: center;
    padding: 0 45px;
}

.intro-container button,
.email-container form input + #submit {
    color: hsl(0, 0%, 100%);
    background: hsl(198, 60%, 50%);
    font-size: 0.875rem;
    padding: 10px;
    border-radius: 25px;
    width: 180px;
    height: 35px;
    outline: none;
    border: none;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.intro-container button:hover{
    background: transparent;
    border: 2px solid hsl(198, 60%, 50%);
}

/* offers section */
#offers{
    background: hsl(217, 28%, 15%);
    background-image: url('/images/bg-curvy-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.offers-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 100px 40px 100px;
}

.offers-card .card-image{
    flex: 50%;
    padding-bottom: 50px;
}

.offers-card h3 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.06rem;
    margin: 0;
    padding: 4px 0 0 0;

}

/* productivity section */

#productivity, #testimonial {
    background: hsl(217, 28%, 15%);
}

.productivity-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.productivity-container button {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding: 0 0 2px 0;
    color: hsl(0, 0%, 100%);
    font-size: 0.875rem;
    cursor: pointer;
    outline: none;
}
.productivity-container p {
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.063rem;
    line-height: 20px;
    font-size: 0.75rem;
}
.productivity-container img {
    height: auto;
    width: 100%;
    object-fit: contain;
}


/* testimonial section */

.testimonial-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 100px 150px 0;
    position: relative;
}

.testimonial-container .quote-sign {
    position: absolute;
    top: 0;
    left: 40px;
}

.testimonial-container .card {
    width: 350px;
    height: 190px;
    background: hsl(219, 30%, 18%);
    border-radius: 6px;
    padding: 15px 20px;
}
.testimonial-container .card  p {
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.063rem;
    line-height: 20px;
    font-size: 0.75rem;
    text-align: left;
    padding: 0;
}
.testimonial-container .card img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.testimonial-container .card .info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.testimonial-container .card .info h3, h4 {
    padding-left: 10px;
    font-size: 0.625rem;
}

.testimonial-container .card > div  {
    display: flex;
    align-content: center;
}

.testimonial-container .card h3, h4 {
    color: hsl(0, 0%, 100%);
    font-size: 0.75rem;
    margin: 0;
}

/* email section */

#email {
    margin: 0;
    background-color: hsl(217, 28%, 15%);
    justify-content: center;
    align-items: center;
    position: relative;
}

.email-container {
    text-align: center;
    background: hsl(219, 30%, 18%);
    max-width: 700px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 40px 0;
}

.email-container h5 {
    color: white;
}

.email-container .form {
     display: flex;
     flex-direction: column !important;
     justify-content: center;
}

.email-container .form input:invalid {
    border: 2px solid red;
}

.email-container .form input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

.email-container .form input:valid {
    border: 2px solid green;
}
.email-container form input[type="email"]{
    text-align: left;
    border-radius: 20px;
    width: 340px;
    height: 35px;
    outline: none;
    border: none;
    background: hsl(0, 0%, 100%) !important;
    padding: 6px;
}
.email-container form input[type="email"]::placeholder {
    color: gray;
    padding: 5px;
}

/* footer */

#footer {
    background: hsl(216, 53%, 9%);
    padding: 200px 100px 20px 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-container p {
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.063rem;
    line-height: 20px;
    font-size: 0.75rem;
    padding: 0 45px;
}
.footer-container .table-format {
    display: flex;
    flex-direction: row;
}
.footer-container .table-format ul {
    list-style-type: none;
}

.footer-container .table-format ul li {
    color: hsl(0, 0%, 100%);
    font-size: 0.875rem;;
    padding: 5px 0;
}
.footer-container span {
    margin-right: 2px;
    padding-right: 8px;
}
.footer-container .social-icons  a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 6px 10px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
}
.footer-container .social-icons a:nth-child(2) {
    margin: 0 5px;
}
.footer-container .social-icons 
.fa-facebook-f, .fa-twitter,
.fa-instagram {
    font-size: 0.875rem;
    text-align: center;
}
footer p {
    color: hsl(0, 0%, 100%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 @media (max-width: 1140px) {
    .offers-card .card-image{
        flex: 100%;
    }
 }

 @media (max-width: 900px) {
    nav {
        display: flex;
        align-items: center;
        z-index: 1;
    }
    .menu {
        display: none;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .menu li {
        width: 100%;
    }
    nav a img {
        width: auto;
        height: 30px;
    }
    nav .menu li a {
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 25px;
        border: 1px solid rgba(38, 38, 38, .03);
    }
    nav .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon {
        background-color: hsl(0, 0%, 100%);
        display: block;
        height: 2px;
        position: relative;
        transition: background ease-out .2s;
        width: 18px;
    }
    nav .menu-icon .nav-icon::before,
    nav .menu-icon .nav-icon::after {
        background-color: hsl(0, 0%, 100%);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out .2s;
        width: 100%;
    }

    nav .menu-icon .nav-icon::before {
        top: 5px;
    }
    nav .menu-icon .nav-icon::after {
        top: -5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon {
        background-color: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
        background: hsl(198, 60%, 50%)
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
        background: hsl(198, 60%, 50%)
    }

    nav .menu-btn {
        display: none;
    }

    nav .menu-btn:checked ~ .menu {
        display: block;
    }
    .intro-container {
        padding: 180px 50px 50px 50px;
    }
    .intro-container img {
        min-width: 350px;
    }
    .intro-text h2, 
    .productivity-container h2 {
        font-size: 1.3rem;
        letter-spacing: 0.01rem;
        line-height: 25px;
        text-align: center;
    }
    .intro-container,
    .offers-card, .productivity-container,
    .testimonial-container, 
    .testimonial-container .form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 50px 25px;
    }
    .productivity-container img {
       min-width: 360px;
    }
    
    .offers-card .card-image{
        flex: 100%;
    }

    .testimonial-container .card {
        padding: 15px 20px;
        margin-bottom: 30px;
    }
    .testimonial-container .card:last-child {
        margin-bottom: 150px;
    }

    .testimonial-container form input {
        width: 100%;
    }
    .email-container {
        width: 340px;
        padding: 20px;
        position: absolute;
        margin: 30px 0;
    }
    .email-container p {
        padding: 0 10px;
    }
    .email-container form input[type="email"],
    .email-container form input + #submit {
        width: 100%;
        margin-top: 15px;
    }
    .testimonial-container .quote-sign {
        display: none;
    }
    #footer {
        background: hsl(216, 53%, 9%);
        padding: 200px 20px 20px 10px;
    }
    .footer-container {
       align-items: flex-start;
       justify-content: flex-start;
       flex-direction: column;
    }

    #footer a img {
        margin-bottom: 10px;
        padding: 25px;

    }
    .footer-container .table-format {
        display: flex;
        flex-direction: column;
    }

    .footer-container .contact {
        display: flex;
        flex-direction: column;
        justify-content: left !important;
        align-items: left !important;
    }
    
    .footer-container .social-icons  {
        padding: 20px 0;
        margin: 0 auto;
        display: block;
    }

    .footer-container .social-icons a:nth-child(2) {
        margin: 0 12px;
    }
    .attribution { 
        font-size: 9px; 
        text-align: center; 
    }

 }

 @media screen and (max-width: 719px) and (min-width: 600px){
    #offers {
        padding: 260px 0 0 0;
    }
 }

 @media (max-width: 375px) {
nav {
    justify-content: space-between;
    padding: 0 15px;
}
.intro-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 150px 0 50px 0;
}

.intro-container img {
    min-width: 345px;
}

.intro-text h2 {
    font-size: 0.8rem;
    letter-spacing: 0.01rem;
    line-height: 25px;
    text-align: center;
    padding-top: 10px;
}
    .offers-card p,
    .testimonial-container p,
    .email-container p {
        padding: 0 25px;
        text-align: center;
    }
 }

   


 